tempo:
  replicas: 1
  
  storage:
    trace:
      backend: local
      local:
        path: /tmp/tempo/traces
      
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    
persistence:
  enabled: true
  size: 10Gi